.quoraBox{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.quoraBox:hover{
    border: 1px solid red;
}

.quoraBox_info{
    display: flex;
    align-items: center;
}

.quoraBox_info > h5{
    color: blue;
    font-weight: 300;
    margin-left: 10px;
}

.quoraBox_quora{
    display: flex;
    margin-top: 8px;
}

.quoraBox_quora{
    color: blue;
    font-weight: bold;
    font-size: large;
}